$base-padding: 20px;
$brand-color: aquamarine;
$brand-color_dark: darkcyan;
$brand-color_light: aliceblue;
$brand-accent: coral;


#root {
  padding: $base-padding;

  section {
    padding-bottom: $base-padding;
  }

  button {
    background: $brand-color;
    color: $brand-color_dark;
    border: 0;
    padding: $base-padding / 2;
    margin: 0 $base-padding / 4 0 0;
    cursor: pointer;

    &:hover {
      background: $brand-accent;
      color: $brand-color_light;
    }
  }

  input {
    background: $brand-color_light;
    border: 0;
    margin: 0 $base-padding / 4 0 0;
    color: $brand-color_dark;
    padding: $base-padding / 2;
  }

  .genre-menu {
    list-style-type: none;
    padding: 0;

    .genre {
      display: inline-block;
      margin: 0 $base-padding / 4 0 0;

      &--chosen button {
        font-weight: bold;
        background: $brand-color_dark;
        color: $brand-color_light;
      }
    }
  }
}

